.formulario {
	min-width: 600px;
	margin-top: 10px;
	background: #fff;
	border-radius: 5px;
	padding: 20px;
}

.formulario > div {
	margin-bottom: 10px;
}

.formulario label {
	display: block;
	font-weight: 600;
	font-size: 1rem;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input,
.formulario textarea,
.formulario select {
	width: 100%;
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	font-size: 0.95rem;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input:focus {
	outline: none;
	border: 2px solid #0085FF;
}

.formulario .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
}

.formulario button[type="submit"] {
	display: block;
	background: #0085FF;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
}

.formulario button[type="submit"]:hover {
	background: #0051ff;
}

.formulario .success {
	text-align: center;
	font-size: 1rem;
	padding-top: 20px;
	color: #02a802;
}

.enviar{
	margin-top: 30px;
}

.eliminar{
	margin-right: 10px;
}

h1{
	margin-top: 10px;
}

@media (max-width: 988px){
	.formulario {
		min-width: 95%;
	}
	}