.fotos{
max-width: 320px;
min-width: 50px;
margin: 0 auto;
margin-bottom: 10px;
text-align: center;
}
.fotos img{
    max-width: 500px;
}

.detail{
    display: block;
    text-align: center;
}
.username{
    color:#ff5e00;
    font-weight: bold;
    font-size: 2rem;
}
.detail h1{
    font-size: 3rem;
}
.detail h3{
    margin: 5px;
}
.detail p{
    text-align: center;
    margin: 0px 20px 0px 20px;
}
.detail div{
    text-align: center;
}

@media (min-width: 798px) {
    .fotos{
        max-width:400px;
    }
    .fotos img{
        max-width: 90%;
    }
    }

@media (min-width: 480px) {
    .fotos{
        max-width:700px;
    }
    .fotos img{
        max-width: 100%;
    }
    }